{% extends "main/layout.html" %}

{% block body_class %}login-page{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="container mt-5 text-white">
        <form method="POST" class="bg-dark p-4 rounded" action="{% url 'login' %}">
            {% csrf_token %}
            
            <h2 class="mb-4 text-white">Вход</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                {% endfor %}
            {% endif %}

            <div class="mb-3">
                <label for="usernameInput" class="form-label">Имя пользователя</label>
                <input name="username" type="text" class="form-control" id="usernameInput" required>
            </div>
            
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Пароль</label>
                <input name="password" type="password" class="form-control" id="passwordInput" required>
            </div>
            
            <button type="submit" class="btn btn-warning">Войти</button>
            <small class="ms-3"><a href="{% url 'register' %}">Создать аккаунт</a></small>
        </form>
    </div>
{% endblock content %}