{% extends "main/layout.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5 text-white mx-auto d-block" style="width=500px;">
    <form method="post" class="bg-dark p-4 rounded">
        {% csrf_token %}

        <h2 class="mb-4 text-white">Создать аккаунт</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text"
               class="form-control"
               id="username"
               name="username"
               required
               placeholder="Введите имя пользователя">
    </div>

    <div class="mb-3">
        <label for="password" class="form label">Пароль</label>
        <input type="password"
                class="form-control"
                id="password"
                name="password"
                required
                placeholder="Введите пароль">
    </div>

    <div class="mb-3">
        <label for="password2" class="form label">Подтверждение пароля</label>
        <input type="password"
                class="form-control"
                id="password2"
                name="password2"
                required
                placeholder="Повторите пароль">
    </div>

    <button type="submit" class="btn btn-warning">Зарегистрироваться</button>
    </form>

    <div class="text-center mb-3">
        Уже есть аккаунт? <a href="{% url 'login' %}" class="text-warning">Войти</a>
    </div>
</div>
{% endblock content %}